<% layout('layouts/boilerplate') %>

<div id="filters">
    <a href="/listings?category=city" class="filter <%= category === 'city' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-city"></i></div>
    <p>City</p>
    </a>

    <a href="/listings?category=rooms" class="filter <%= category === 'rooms' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
    </a>

    <a href="/listings?category=castles" class="filter <%= category === 'castles' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-fort-awesome"></i></div>
    <p>Castles</p>
    </a>

    <a href="/listings?category=mountains" class="filter <%= category === 'mountains' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
    </a>

    <a href="/listings?category=camping" class="filter <%= category === 'camping' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
    </a>

    <a href="/listings?category=pools" class="filter <%= category === 'pools' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
    </a>

    <a href="/listings?category=farms" class="filter <%= category === 'farms' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
    </a>

    <a href="/listings?category=beach" class="filter <%= category === 'beach' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
    </a>

    <a href="/listings?category=historical" class="filter <%= category === 'historical' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-archway"></i></div>
    <p>Historical</p>
    </a>

    <a href="/listings?category=domes" class="filter <%= category === 'domes' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
    </a>

    <a href="/listings?category=boats" class="filter <%= category === 'boats' ? 'active' : '' %> text-decoration-none text-dark">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
    </a>
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
    </div>
    
</div>
    
    <div class="row row-cols-lg-3  row-cols-md-2  row-cols-sm-1">
        <% if (allListings.length === 0) { %>
            <h3 class="text-center mt-4">No listings found 😕</h3>
        <% } else { %>
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" height="200rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small></small></p>
                    </div>              
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                            &#8377; 
                            <span class="price" data-price="<%= listing.price %>">
                                <%= listing.price.toLocaleString("en-IN") %>
                            </span> 
                            / night &nbsp;

                            <span class="tax-info" style="display:none;" style="margin-left: 50px !important;">(Inclusive of Taxes)</span>
                        </p>
                    </div>  
                </div> 
                </a>
            <% } %>
        <% } %>
    </div>

<script>
let taxSwitch = document.getElementById("switchCheckDefault");

taxSwitch.addEventListener("change", function () {

    let prices = document.querySelectorAll(".price");
    let taxInfos = document.querySelectorAll(".tax-info");

    prices.forEach((el) => {
        let base = Number(el.dataset.price);

    if (taxSwitch.checked) {
        let withTax = Math.round(base * 1.18);
        el.innerText = withTax.toLocaleString("en-IN")
    } else {
        el.innerText = base.toLocaleString("en-IN");
    }
});

    taxInfos.forEach((el) => {
    el.style.display = taxSwitch.checked ? "inline" : "none";
});

});
</script>
    

